body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom right, #e7f0eb, #f6f2e7);
  }
h2 {
    font-weight: 800;
    color: #000;
}
.seccion-eventos {
    padding: 60px 0;
}
.tabla-eventos {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    overflow: hidden;
}
.tabla-eventos th {
    background-color: #A3203F;
    color: #fff;
}

.header {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    z-index: 1000;
}
  
.logo {
    height: 50px;
}
  
.nav-menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #000;
    transition: color 0.3s;
}
  
.nav-link:hover {
    color: #ffc107; 
}


  
.btn-cronograma {
    background-color: #871739;
    border: none;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
  
.btn-cronograma:hover {
    background-color: #a91e48;
    color: #fff;
}
